
.checkoutCart-main-sectionProduct{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 1%;
    margin-top: 10px;
}
.checkoutCart-img-divProduct{
    margin-right: 20px;
    margin-top: 20px;
}
.checkoutCart-img-mainProduct{
    width: 100%;
    max-width: 100px;
}   
.checkoutCart-body-partProduct{
    width: 80%;
}  
.checkoutCart-name-brand-div{
    display: flex;
    flex-direction: row;
    margin: 0;
    max-width: 480px;
}

.checkoutCart-brandProduct{
    color: grey;
    letter-spacing: 1px;
    font-style: bold;
    margin-left: 15px;
    font-weight: normal;
}
/* .checkoutCart-price{
} */
.checkoutCart-price-button-div{
    display: flex;
    align-items: flex-start;
}
.checkoutCart-quantity{
margin: 0 20px;
}
.checkoutCart-size{
    margin: 0;
    margin-right: 20px;
    }
.checkoutCart-quantity-number{

    padding: 0 5px;
    font-size: 14px;
    margin: 0;
}
.checkoutCart-operatingQuantity{
    font-size: 18px;
    padding: 0 7px;
    font-weight: 700;
    border:  1px solid indianred;
    color: indianred;
    cursor: pointer;
    outline: none;
    
}
@media only screen and (max-width:1200px){

}