.essentials-div-img{
    width: auto;
    text-align: center;
}

.essentials-img{
    width: 70%;
}

.essentials-inner-img{
    width: 50%;

}

.essentialsDiv{
    margin: 0 auto;
    text-align: center;
    width:80%;

}