.reviewsHomeDiv{
    background-color: #61ca59;
    padding: 50px 0;
}
.reviewsHomeSpace{
    max-width:1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reviewsHomeCard{
    background-color: #61ca59;
    min-width: 400px;
}
.reviewsHomeMainReviews{
    border-radius: 25px;
    background-color: #fff;
padding: 10px 30px;
margin-bottom: 15px;
text-align: center;
/* width: 100%; */
max-width: 450px;
}

.reviewsHomeSecondDiv{
    margin-left: 10px;
margin-top: 3px;
}
.reviewsHomeImage{
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: skew(0deg,-44deg);
    width: 24px;
    height: 24px;
    background-color: #fff;
    color: #fff;
    position: absolute;
    bottom: 75px;
    left: 40px;
}
.reviewsHomeCity{
    color: #fff;
    margin-top: -7px;
    font-size: 12px;
}

@media screen and (max-width: 1200px){
    .reviewsHomeCard{
        min-width: 350px;
    }
    .reviewsHomeMainReviews{
        max-width: 400px;
    }
}
    
@media screen and (max-width: 1200px){
    .reviewsHomeCard{
        min-width: 400px;
    }
    .reviewsHomeMainReviews{
        max-width: 500px;
    }
}
@media screen and (max-width: 840px){
.reviewsHomeSpace{
align-items: center;
}
    .reviewsHomeCard{
        min-width: 300px;
    }
    .reviewsHomeMainReviews{
        max-width: 400px;
        font-size: 10px;
    }
    .reviewsHomeName{
        font-size: 10px;
    }
    .reviewsHomeCity{
        font-size: 8px;
    }
.reviewsHomeImage{
bottom: 67px;
}
}   