.footerMainDiv{
  padding: 50px 0;
}


  .footerMainSpace{
    /* background-color: white; */
    max-width:1200px;

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    /* margin-left: 50%;
	transform: translate(-50%, 0); */

}

.footer-h4{
    color: white;
    letter-spacing: 1px;
  font-weight: 300;

}

.orange{
  color: #EA7414;
}
.green {
  color:#10BA23;
}
.text-right {
  text-align: right;
}
.text-left{
  text-align: left;
}
.footerCards{
  min-width: 250px;
}

@media only screen and (max-width: 500px) {
  .footerMainSpace{
  justify-content: center;
  }
}