.productMainCard{
  max-width: 330px;
}


  .card-clothing {
      cursor: pointer;
      margin: 1px 1px;
      /* border: 1px solid grey; */
      height: 100%;
 
    }

  .img-clothing{

    width: 100%;
  }
.productRow{
  border-top: 1px solid black;
  padding-top: 7px;
  margin-top: 7px;
}
    .price-clothing {
      color:#10BA23 ;
        font-size: 14px;

        
    }

@media only screen and (max-width: 1000px) {
.productMainCard{
  max-width: 280px;
}

.h4-clothing{
  font-size: 14px;
}
.productDescription{
 font-size: 12px; 
}

.price-clothing{
  font-size:12px;
}
}


@media only screen and (max-width: 570px) {
  .productMainCard{
    max-width: 180px;
  }
  .h4-clothing{
    font-size: 12px;
  }
  .productDescription{
 font-size: 10px; 
  }
  .price-clothing{
    font-size:10px;
  }
  }

