.navBarNavSecond{
    background-color: #61ca59;
    margin: 0;
}
.navBarDivSecond{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #61ca59;
}
.navBarDivSecondFirst{
    display: flex;
    justify-content: start;
    background-color: #61ca59;
    border: 1px solid #61ca59;
    width: 100%;
}
.navBarDivSecondSecond{
   text-align: right;
    background-color: #61ca59;
    border: 1px solid #61ca59;
    width: 150px;
}
.navBarSecondSearch{
    margin: auto;
    width: 50%;
}
.navBarCartImageDivSecond{
font-size: 22px;
}

.navBarCartSecond{
width: 26px;
}

.navBarImg{
    width: 55px;
    margin:-30px;
}

.navBarCountsDivSecond{
    background-color: #fff;
    position: relative;
    border-radius: 7px;
    bottom: 33px;
    right: -10px;
    padding: 0 6px;
    margin: -6px 8px;
    height: 15px;
}

.navBarCountsSecond{
    margin: 0 auto;
    height: 12px;
    font-size: 14px;
    position: relative;
    bottom: 20px;
    right: 0px;
}


@media only screen and (max-width: 750px) {
.navBarDivSecondFirst{
    font-size: 12px;
width: 75%;
}
    .navBarDivSecondSecond{
    width: 100px;
    font-size: 12px;
        }


    }
@media only screen and (max-width: 380px) {
    .navBarDivSecondFirst{
        font-size: 8px;
    }
        .navBarDivSecondSecond{
        font-size: 8px;
            }
    
    
}